<div class="container-fluid">
  <div class="row" *ngIf="errorMessage">
    <div class="col-12">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table" *ngIf="personArray">
      <thead>
        <tr class="d-flex">
          <th class="col-5">Name</th>
          <th class="col-5">Age</th>
          <th class="col-2">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let person of personArray">
          <td class="col-5">
            <div *ngIf="!editMode">{{person.name}}</div>
            <input (input)="person.name = $event.target.value" type="text" class="form-control" id="personName"
              placeholder="{{person.name}}" *ngIf="editMode">
          </td>
          <td class="col-5">
            <div *ngIf="!editMode">{{person.age}}</div>
            <input (input)="person.age = $event.target.value" type="number" class="form-control" id="personAge"
              placeholder="{{person.age}}" *ngIf="editMode">
          </td>
          <td class="col-2">
            <button type="button" class="btn btn-success" (click)="onEdit()" *ngIf="!editMode">
              <fa-icon icon="pen"></fa-icon>
            </button>
            <button type="button" class="btn btn-success" (click)="onSave(person)" *ngIf="editMode">
              <fa-icon icon="save"></fa-icon>
            </button>
            <button type="button" class="btn btn-danger" (click)="onDelete(person)" *ngIf="!editMode">
              <fa-icon icon="trash-alt"></fa-icon>
            </button>
            <button type="button" class="btn btn-danger" (click)="onEdit()" *ngIf="editMode">
              <fa-icon icon="times"></fa-icon>
            </button>
          </td>
        </tr>
        <tr>
          <td style="text-align: center">
            <button type="button" class="btn btn-success" (click)="onAdd()">
              <fa-icon icon="plus"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>