<div class="container-fluid">
  <div class="row">
    <table class="table" *ngIf="personArray">
      <thead>
        <tr class="d-flex">
          <th class="col-5">Name</th>
          <th class="col-5">Age</th>
          <th class="col-2">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let person of personArray">
          <td class="col-5">{{person.name}}</td>
          <td class="col-5">{{person.age}}</td>
          <td class="col-2">
            <button type="button" class="btn btn-danger" (click)="onDelete(person)">
              <fa-icon icon="trash-alt"></fa-icon>
            </button>
            <button type="button" class="btn btn-primary"></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
