<div class="container-fluid">
  <div class="row">
    <div class="people col-md-12" *ngIf="personArray">
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-5">Name</th>
            <th class="col-md-5">Age</th>
            <th class="col-md-2">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of personArray">
            <td>{{person.name}}</td>
            <td>{{person.age}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="onDelete(person)">Delete
                <i class="fas fa-trash-alt"></i>
              </button>
              <button type="button" class="btn btn-primary">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
